body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

.sidebar{
width:220px;
height:100vh;
position:fixed;
background:#020617;
padding:20px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin-top:10px;
padding:10px;
}

.sidebar a:hover{
background:#1e293b;
}

.main{
margin-left:240px;
padding:30px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
background:#1e293b;
}

th,td{
padding:10px;
text-align:center;
}

th{
background:#334155;
}

.badge{
padding:6px 10px;
border-radius:6px;
font-size:12px;
}

.normal{background:#065f46;}
.suspicious{background:#92400e;}
.danger{background:#7f1d1d;}

#feed{
font-family:monospace;
max-height:200px;
overflow-y:auto;
}